<!-- eslint-disable vue/valid-template-root -->
<template></template>
<script lang='ts'>
import { defineComponent } from 'vue';
import { notification } from 'ant-design-vue';
import { useAppStore } from '@/stores';

export interface NotificationType {
  id: string;
  type: 'error' | 'success';
  message: string;
  description: string;
  title: string;
};

export default defineComponent({
    setup() {
        const store = useAppStore();

        store.$subscribe((mutation, state) => {
            state.app.notification.forEach(content => {
                show(content);
                setTimeout(() => {
                    store.removeNotification(content.id);
                }, 1000);
            });
        });

        const show = (data: NotificationType) => {
            const { type, message, description } = data;
            notification[type]({
                duration: 2,
                message,
                description,
            });
        };

        return {
            show, store
        }
    },
});
</script>
