<template>
  <a-layout>
    <a-layout-header>header</a-layout-header>
      <a-layout-content>
        <router-view />
      </a-layout-content>
    <a-layout-footer>footer</a-layout-footer>
  </a-layout >
</template>