<template>
  <div class="ant-row ant-row-center" :style="{marginTop: '200px'}">
    <a-form
      :model="formState"
      name="basic"
      :label-col="{ span: 8 }"
      :wrapper-col="{ span: 16 }"
      autocomplete="off"
      @finish="onFinish"
      @finishFailed="onFinishFailed"
    >
      <a-form-item
        label="Username"
        name="username"
        :rules="[{ required: true, message: 'Please input your username!' }]"
      >
        <a-input v-model:value="formState.username" />
      </a-form-item>

      <a-form-item
        label="Password"
        name="password"
        :rules="[{ required: true, message: 'Please input your password!' }]"
      >
        <a-input-password v-model:value="formState.password" />
      </a-form-item>

      <a-form-item name="remember" :wrapper-col="{ offset: 8, span: 16 }">
        <a-checkbox v-model:checked="formState.remember">Remember me</a-checkbox>
      </a-form-item>

      <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
        <a-button type="primary" html-type="submit">Submit</a-button>
      </a-form-item>
    </a-form>
  </div>
  <h1 class="title-hint">User account of dev-tiktok.ecomdy.com to access this site.</h1>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore, useAppStore } from '@/stores';

interface FormState {
  username: string;
  password: string;
  remember: boolean;
}

export default defineComponent({
  setup() {
    const router = useRouter();
    const authStore = useAuthStore();
    const appStore = useAppStore();

    const formState = reactive<FormState>({
      username: '',
      password: '',
      remember: true,
    });
    const onFinish = async (values: any) => {
      const payload = {
        email: values.username,
        password: values.password
      }
      await authStore.login(payload);
      const status = authStore.getStatus;
      if (status === 201) {
        appStore.addNotification({
          id: '',
          message: '',
          type: 'success',
          title: 'success',
          description: 'Login successfuly !'
        });
        router.push('/');
      } else {
        appStore.addNotification({
          id: '',
          message: '',
          type: 'error',
          title: 'error',
          description: 'Login failed !'
        });
      }
    };

    const onFinishFailed = (errorInfo: any) => {
      console.log('Failed:', errorInfo);
    };
    return {
      formState,
      onFinish,
      onFinishFailed,
    };
  },
});
</script>

<style>
.title-hint {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-top: 20px;
  font-size: 10px;
}
</style>
