<template>
  <div :style="vertialLayoutFixed"></div>
  <a-layout-sider
    v-model:collapsed="collapsed"
    :trigger="null" collapsible
    ref="siderRef"
    class="sider-fixed"
  >
    <router-link to="/">
      <div class="header-logo">
        <div class="icon-logo">
          <home-filled />
        </div>
      </div>
    </router-link>

    <menu-layout />
  </a-layout-sider>

  <a-layout>
    <div v-if="headerFixed" :style="{height: '48px', background: 'transparent', lineHeight: '48px'}"></div>
    <header-layout
      :collapsed="collapsed"
      :headerFixed="headerFixed"
      :headerWidth="collapsed ? collapseSiderWidth : siderWidth"
      @click="toggleSidebar"
    />
    <a-layout-content
      :style="{ margin: '24px 16px', padding: '24px', minHeight: '280px' }"
    >
      <router-view />
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { HomeFilled } from '@ant-design/icons-vue';
  import HeaderLayout from '@/components/header/Header.vue';
  import MenuLayout from '@/components/menu/Menu.vue';

  export default defineComponent({
    components: {
      HomeFilled,
      HeaderLayout,
      MenuLayout,
    },

    setup() {
      const headerFixed = true;

      const siderWidth = '200px';
      const collapseSiderWidth = '80px';
      
      const vertialLayoutFixed = ref({
        width: siderWidth,
        overflow: 'hidden',
      });

      const isVertical = true;
      let collapsed =  ref<boolean>(false);

      const toggleSidebar = (toggle: boolean) => {
        collapsed.value = toggle;
      }

      const changeSiderStyle = (style: any) => {
        vertialLayoutFixed.value = {
          ...vertialLayoutFixed.value,
          ...style,
        };
      }

      return {
        isVertical,
        collapsed,
        toggleSidebar,
        vertialLayoutFixed,
        changeSiderStyle,
        siderWidth,
        collapseSiderWidth,
        headerFixed,
      }
    },

    watch: {
      collapsed(val) {
        const width = val ? this.collapseSiderWidth : this.siderWidth;
        this.changeSiderStyle({
          width,
        });
      },
    },
  });
  
</script>

<style lang="scss">
.header-logo {
  padding: 10px;
  .icon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 121, 121);
    height: 40px;
  }

}
.ant-layout-header {
  padding: 0 20px !important;
  background-color: white;
}

.ant-layout-sider.sider-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
}

</style>