<template>
  <a-menu theme="dark" mode="inline">
    <a-menu-item
      v-for="(menu, index) in menuList"
      :key="index"
    >
      <router-link :to="menu.path" />
      <component :is="menu.icon" />
      <span>
        {{ menu.name }}
      </span>
    </a-menu-item>
  </a-menu>
</template>

<script lang='ts' setup>
import { menuList } from './menu';
</script>
