<template>
    <div class="ant-row ant-row-space-between ant-row-middle">
        <h1>dash board page</h1>
    </div>
</template>
<script lang='ts'>
import { defineComponent } from 'vue';

export default defineComponent({});
</script>
