<script lang="ts">
import { defineComponent, computed, ref, watchEffect, unref } from 'vue';
import { localeList, i18n } from '@/locales';

export default defineComponent({
  setup() {
    const selectedKeys = ref<string[]>([]);
    const getLocale = computed(() => selectedKeys.value[0] || 'en_US');

    watchEffect(() => {
      selectedKeys.value = [unref(getLocale)];
    });

    const handleChangeLanguage = ({ key }: any) => {
      if (unref(getLocale) === key) {
        return;
      }

      i18n.global.locale = key;
      selectedKeys.value = [key as string];
    }

    const getLocaleCurrent: any = computed(() => {
      const key = selectedKeys.value[0];
      if (!key) {
        return '';
      }

      const currentLocale = localeList.find((item) => item.lang === key);
      return {
        label: currentLocale?.label,
        icon: currentLocale?.icon,
      }
    });

    return {
      handleChangeLanguage,
      getLocaleCurrent,
      localeList,
      selectedKeys,
    }
  },
  
});
</script>
<template>
  <a-dropdown>
    <template #overlay>
      <a-menu v-model:selectedKeys="selectedKeys" @click="handleChangeLanguage">
        <a-menu-item
          v-for="item in localeList"
          :key="item.lang"
        >
          <a href="javascript:;">{{ item.icon }} {{ item.label }}</a>
        </a-menu-item>
      </a-menu>
    </template>
    <a-button>
      {{ getLocaleCurrent.icon }}
      {{ getLocaleCurrent.label }}
    </a-button>
  </a-dropdown>
</template>