<template>
  <ul>
    <a-switch v-model:checked="themeLight" @change="changeTheme(themeLight)">
      <template #checkedChildren>Ligth</template>
      <template #unCheckedChildren>Dark</template>
    </a-switch>
  </ul>
</template>

<script lang="ts">
import { ref } from 'vue'
import darkThemeCss from 'ant-design-vue/dist/antd.dark.css?raw';
import { defineComponent } from 'vue';

export default defineComponent({
  setup() {
    const darkMode = JSON.parse(localStorage.getItem('APP_SETTINGS') as string)?.layout?.darkMode || false;
    const themeLight = ref(darkMode);
    
    const styleDom = document.createElement('style');
    styleDom.dataset.type = 'theme-dark';
    styleDom.textContent = darkThemeCss;
    document.head.appendChild(styleDom);

    const setDarkTheme = (navTheme?: string) => {
      if (navTheme) {
        document.documentElement.classList.add('dark');
        styleDom.disabled = false;
      } else {
        document.documentElement.classList.remove('dark');
        styleDom.disabled = true;
      }
    };

    const changeTheme = (isDarkMode: boolean) => {
      if (isDarkMode) {
        setDarkTheme('dark');
      } else {
        setDarkTheme('');
      }
    };

    const setLayout = (layout: any) => {
      setDarkTheme(layout.darkMode);
    };

    const localConfig = JSON.parse(localStorage.getItem('APP_SETTINGS') as string);
    const layout: string = localConfig?.layout || '';
    setLayout(layout);

    return {
      themeLight,
      changeTheme,
    }
  }
})
</script>
