<template>
  <a-dropdown placement="bottomRight">
    <a :style="{display: 'flex', width: '30px'}">
      <img :style="{width: '100%'}" src="https://thumbs.dreamstime.com/b/creative-illustration-default-avatar-profile-placeholder-isolated-background-art-design-grey-photo-blank-template-mockup-144855718.jpg" alt="Avatar" >
    </a>
    <template #overlay>
      <a-menu>
        <a-menu-item>
          Account settings
        </a-menu-item>
        <a-menu-item @click="handleLogout">
          Logout
        </a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from '@/stores';

export default defineComponent({

  setup() {
    const store = useAuthStore();
    const router = useRouter();

    const handleLogout = () => {
      store.logout();
      router.push('/login');
    }

    return {
      handleLogout,
      store,
      router,
    }
  },
});
</script>
