<template>
    <iframe
    :style="{width: '100vw', height: '100vh'}"
        src="https://antdv.com/components/overview/" title="Antd documentation">
    </iframe>
</template>
<script lang='ts'>
import { defineComponent } from 'vue';

export default defineComponent({});
</script>
