<template>
  <a-layout-header
    :class="headerFixed ? 'header-fixed': ''"
    :style="{width: `calc(100% - ${ headerFixed? headerWidth : '0'})`}"
  >
    <div class="ant-row ant-row-space-between ant-row-middle">
      <div class="ant-col">
        <menu-unfold-outlined
          v-if="collapsed"
          class="trigger"
          @click="handleCollapse(false)"
        />
        <menu-fold-outlined v-else class="trigger" @click="handleCollapse(true)" />
      </div>
      <div class="ant-col">
        <div class="ant-row ant-row-middle">
          <Profile />
        </div>
      </div>
    </div>
  </a-layout-header>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import {
  MenuUnfoldOutlined,
  MenuFoldOutlined,
} from '@ant-design/icons-vue';
import Profile from '@/components/setting/Profile.vue';

export default defineComponent({
  props: ['collapsed', 'headerWidth', 'headerFixed'],
  emits: ['click'],

  components: {
    MenuUnfoldOutlined,
    MenuFoldOutlined,
    Profile,
  },

  methods: {
    handleCollapse(collapsed: boolean) {
      this.$emit('click', collapsed);
    },
  },

});
</script>

<style>
.header-fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  height: 48px;
  line-height: 48px;
}</style>