<template>
  <config-provider>
    <layout />
  </config-provider>
</template>

<script lang='ts'>
import { defineComponent } from 'vue';
import { ConfigProvider } from 'ant-design-vue';
import Layout from '@/layouts/index.vue';

export default defineComponent({
  components: {
    Layout,
    ConfigProvider,
  }
});
</script>
