<template>
  <div v-if="!isLogin">
    <Login />
  </div>
  <a-layout
    v-else
    has-sider
    class="main-wrapper layout"
  >
    <VeritialLayout v-if="isVertical" />
    <HorizontialLayout v-else />
  </a-layout>

  <notification />
</template>

<script lang="ts">
  import { defineComponent, ref, computed } from 'vue';
  import Notification from '@/components/notification/Notification.vue';
  import VeritialLayout from './vertical/index.vue';
  import HorizontialLayout from './horizontal/index.vue';
  import Login from '@/pages/login/Login.vue';
  import { useAuthStore } from '@/stores';
  import auth from '@/libs/auth';

  export default defineComponent({
    components: {
      Notification,
      VeritialLayout,
      HorizontialLayout,
      Login,
    },

    setup() {
      const isVertical = true;
      const selectedKeys = ref<string[]>(['4']);
      const collapsed =  ref<boolean>(false);
      const store = useAuthStore();
      const isLogin = computed(() => store.auth.isLogin || auth.getToken());

      return {
        isVertical,
        selectedKeys,
        collapsed,
        isLogin,
      }
    },

  });
  
</script>
<style lang="scss">
</style>